<div class="card text-center shadow">
  <div class="card-block">
    <h1 class="card-title">Willkommen bei StatiBro!</h1>
    <hr>
    <h4 class="card-text">
        Hier kannst du begleitend zur Vorlesung oder als Vorbereitungen auf die Prüfungen noch einmal den Stoff der Vorlesung Statistik der FH Münster durcharbeiten.
      <br>
        Neben Erklärungen zu den einzelnen Themengebieten warten auch einige Aufgaben darauf gelöst zu werden.
    </h4>
    <hr>
    <h3>
      Viel Erfolg!
    </h3>
    <h3>
      Matthias Heinen
    </h3>
    <hr>
    <a [routerLink]="['/login']" routerLinkActive="active">Log dich ein</a>
    <a [routerLink]="['/register']" routerLinkActive="active">Registriere dich</a>
  </div>
</div>
