<br /><br />
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <form #f="ngForm" (ngSubmit)="onSubmit()" style="max-width:50%;margin:auto">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="color:black"></i></span>
        <input type="text" class="form-control shadow2" id="Name" name="Name" required [(ngModel)]="Name" placeholder="Username - Max 15 Zeichen" maxlength="15">
      </div><br />
      <button class="btn btn-default " type="submit">Registrieren</button>
    </form>
  </div>
</div>